/******************************
* COMMON
*******************************/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	font-family: 'merriweather';
	font-size: 62.5%;
}

/******************************
* REUSABLE COMPONENTS
*******************************/
h1 {
	font-size: 3.6rem;
	margin: 0;
}
.row {
	max-width: 102.4rem; 
	margin: 0 auto;
	border: .1rem solid #000;
}
a.btn {
    display: inline-block;
    width: 40rem;
    padding: 2.5rem 5rem;
    background: #dd1300;
    font-size: 5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    height: auto;
	border-radius: 1rem;
	transition: all .5s ease-in-out;
}
a.btn:hover,
a.btn:focus{
	background: #aa1002;
}


/******************************
* HEADER SECTION
*******************************/
header {
	width: 100%;
	
	min-height: 60rem;
	font-family: 'montserrat';
}
.container {
	position: relative;
	background-image: url(../img/header-bg-02.png);
    background-position: 0 -5rem;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #eaeaea80;
	display: inline-block;
    width: 100%;
	height: 100%;
}
.container .col {
	margin: 0;
}

.logo-bg-svg-container {
	display: block;
	position: relative;
	width: 20rem;

}
.logo-bg-svg-container svg {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 9;
}
.logo-bg-svg-container .logo-img {
	width: 6rem;
	z-index: 9999;
	position: absolute;
	display: block;
	top: 2.5rem;
	left: 6rem;
}
.menu-bg-svg-container {
	display: block;
	position: relative;
	width: 21rem;
}

.menu-bg-svg-container nav {
    position: absolute;
    width: 13rem;
    top: 17rem;
    left: 2rem;
}

.menu-bg-svg-container nav ul {
	list-style-type: none;
	text-align: center;
}

.menu-bg-svg-container nav ul li {
	
	line-height: 7rem;
}
.menu-bg-svg-container nav ul li:last-child {
	line-height: 2rem;
}
.menu-bg-svg-container nav ul li:last-child a{
	font-weight: bold;
}

.menu-bg-svg-container nav ul li a {
	font-size: 1.7rem;
	color: #fff;
	font-weight: 300;
	line-height: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
}

.menu-bg-svg-container nav ul li a:hover {
	color:  rgba(255, 255, 255, 0.507);
}

.menu-bg-svg-container .social-links {
	position: absolute;
	top: 50rem;
    left: 2rem;
}

.menu-bg-svg-container .social-links li{
	display: inline;
	padding: .5rem;
}

.menu-bg-svg-container .social-links li a img{
	width: 2rem;
	transition: .2s;
}

.menu-bg-svg-container .social-links li a img:hover,
.menu-bg-svg-container .social-links li a img:focus {
	
	transform: scale(1.5,1.5) translateY(-1rem);
}

.image-bg-svg-container {
	position: relative;
	width: 55rem;
    top: 6rem;
    left: 0rem;
}

.text-svg-bg-container {
	position: absolute;
    width: 35rem;
    top: 15rem;
   	right: 0;
	overflow: hidden;
}

.svg-text-container {
	position: absolute;
	height: 100rem;
    width: 69rem;
}

.svg-text-container .svg-thin-text{
	font-weight: normal;
	font-size: 12rem;
}

.svg-text-container a {
	margin-top: 8rem;
    margin-left: 11rem;
}

.svg-text-container .svg-bold-text{
	font-weight: bolder;
	font-size: 12rem;
	line-height: 11rem;
	text-align: center;
}

.svg-text-container .svg-desc-text{
	width: 70rem;
	margin-top: 8rem;
	font-weight: normal;
	font-size: 5rem;
	text-align: left;
	font-family: 'merriweather';
}

/* 
 * search 
*/
.header-search-login-register {
	position: absolute;
	top: 2.5rem;
    right: 3.7rem;
}

.header-search-login-register form {
	display: inline-block;
}

.header-search-login-register input {
	width: 15rem;
	height: 3rem;
	padding: 0 3rem;
	border: none;
	outline: none;
	border-radius: 0.4rem;
	transition: all .5s;
}
.header-search-login-register input:focus {
	width: 18rem;
	
}
.header-search-login-register button {
	background-image: url("../img/loupe2.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	width: 1.5rem;
    height: 1.5rem;
	border: none;
	outline: none;
	position: absolute;
	top: 0.8rem;
    left: 1rem;
	cursor: pointer;
}

.header-search-login-register a{
	color: #dd1300;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-left: 1rem;
	transition: .10ms;
}

.header-search-login-register a:hover,
.header-search-login-register a:focus {
	color: #dd12007e;
}


.overlay-bg {
/*    background-image: url(../img/header-bg-02.png);
	background-position: 0 -5rem;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1; */
}