@media only screen and (max-width: 1200px) {
    .row {
        margin: 0 5rem;
    }
    .content-area {
        .widget-area {
            margin-left: 8rem;
        }
    }
}

@media only screen and (max-width: 1024px) {
 
    header {
        .hero-content {
            .row {
                &::after {
                    top: 28rem;
                }
            }

            .hero-text-container {
                .hero-title {
                    font-size: 7rem;
                }
            }
        }
    }

    .section-more-info {
        .item-excerpt {
            padding: 0 5rem;
        }
    }
    .content-area {
        .widget-area {
            margin-left: 3rem;
        }
    }
}


@media only screen and (max-width: 980px){
    
    html {
        font-size: 58.5%;
    }

	header {

        nav {
            
            height: 100%;

            .menu-primary-menu-container {
                position: fixed;
                width: 100%;
                display: block;
                margin: 0;
                padding: 0 10rem 0;
                margin-top: 11rem;
                overflow-y: scroll;
                max-height: calc(100vh - 10rem);
            }

            .menu-toggle {
                display: block;
            }
            
            .nav-menu {
                display: none;
                visibility: hidden;                
            }
            
            &.toggled {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow-y: auto;
                z-index: 9999;
                background-color: rgba(0, 0, 0, 0.8);
                margin-right: 0;
                margin-top: 0;
                transition: all .5s;

                .menu-toggle {
                
                    &.hide {
                       /*  bottom: 16px; */
                    }
                }

                .nav-menu {
                    display: block;
                    visibility: visible;
                    padding: 0;
                    background-color: transparent;
                    //max-height: calc(100vh - 100px);
                    //overflow-y: auto;
                    
                    li {
                        display: block;
                        margin: 0;
                        /* padding: 10px 0; */
                        line-height: 6rem;
                        border-bottom: .1rem solid rgba($color: #ffffff, $alpha: 0.8);

                        &.current-menu-parent {
                           
                            .dropdown-toggle {
                                &::after,
                                &.toggle-on::after {
                                    color: rgb(255, 0, 0);
                                }
                               
                            }
        
                            .sub-menu {
                                transition: all 1s;
                                .dropdown-toggle {
                                    &::after {
                                        color:rgb(255, 255, 255);
                                    }
                                }
                            }

                            
                        }
        
                        &.current-menu-ancestor {
                          
                            .dropdown-toggle {
                                &::after,
                                &.toggle-on::after {
                                    color: rgb(255, 0, 0);
                                }
                            }
        
                            .sub-menu {
                                transition: all 1s;
                                .dropdown-toggle {
                                    &::after {
                                        color:rgb(255, 255, 255);
                                    }
                                }
                            }
                        }

                        a{
                            color: rgb(255, 255, 255);
                            font-size: 2.5rem;
                            &:link,
                            &:active, 
                            &:visited, 
                            &:focus {
                                color: rgb(255, 255, 255);
                            }
                        }

                        .dropdown-toggle {
                            
                            &::after {
                                color: rgb(255, 255, 255);
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translate(0, -50%);
                            }
                            
                            &.toggle-on::after {
                                color: #fff;
                                top: 1.9rem;
                            }
                        }
                        
                        &.menu-item-has-children {
                            .sub-menu {
                                padding: 0;
                                position: relative;
                                margin-bottom: 6rem;
                                margin-top: -6rem;
                                background-color: transparent;
                                transition: all 1s;
                                &.toggled-on {
                                    width: 100%;
                                }

                                li {
                                    padding: 0;
                                    border: none;
                                    &.menu-item-has-children {
                                        .dropdown-toggle {
                                            right: 0;
                                            &::after {
                                                transform: translate(0,0);
                                            }
                                            &.toggle-on::after {
                                                top: 50%;
                                            }
                                        }
                                        
                                        .sub-menu {
                                            background-color: transparent;
                                            /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168,  236, 0.6);*/
                                            margin-left: 0;
                                            padding: 0;
                                            top: 5.7rem;
                                            transition: all 1s;
                                        }
                                    }
                                    
                                    &.current-menu-parent {
                                        .dropdown-toggle::after {
                                            color:rgb(255, 0, 0);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
        .sticky {
            .main-navigation {
                margin-top: 0;
            }
        }

        .header-search {
            position: absolute;
            top: 3.5rem;
            width: 100%;
            display: none;
            float: none;
            padding: 0 20rem;
            text-align: center;
            transition: width .5s;

            &:focus, &:hover {
                width: 100%;
            }

            input[type="text"] {
                background-color: rgb(255, 255, 255);
                padding: 0rem 6rem 0 1.5rem;
                transition: background-color 1s;
                &:hover, &:focus {
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
            .search-btn {
                right: 22rem;
            }
        }
        
        
        .hero-content {
            .hero-img-container {
                img {
                    width: 100%;
                    float: none;
                }
            }
        }
    }

    .main {
        .col {
            p, a, ul, ol, table, cite, span, dl {
                font-size: 1.8rem ;
            }

        }
    }
}


@media only screen and (max-width: 767.99px) {
    html {
        font-size: 55.5%;
    }

    .section-title {
        font-size: 5rem;
    }

    header {
        height: auto;
        
        .logo {
            margin-top: 10rem;
        }
        .hero-content {
            .row {
                &::after{
                    top: 20rem;
                    background-size: 29rem;
                }
            }
            .hero-text-container {
                .hero-title {
                    font-size: 5rem;
                }
            }
            &.slider {
                .row {
                    &::after{
                        top: 27rem;
                    }
                }
                .header-slider {
                    .slider-content {

                        .hero-img-container {
                            margin-top: 10rem;
                        }
                    }
                }
            }

        }
    }

    .section-featured-item {
       
        .section-excerpt {
            padding: 0 5rem;
        }

        .span_1_of_3 {
            width: 100%;
            img {
                height: 25rem;
            }
            .item-title {
                padding: 0;
                text-align: center;
            }

            .item-excerpt {
                text-align: center;
            }
        }
    }
    .two-col-text {
        .span_1_of_2 {
            width: 100%;
        }
    }
    .two-col-text-img {
        .cpt-img {
            width: 100%;
            margin-bottom: 2rem;
            &:last-of-type {
                margin-top: 0;
            }
            img {
                width: 100%;
            }
        }
        .cpt-discount-offers {
            margin-bottom: 4rem;
            padding: 0;
        }
    }

    .main {

        .row {
            flex-direction: column;
            .content-area {
                width: 100%;
                order: 1 !important;
            }
            .widget-area {
                width: 100%;
                order: 2 !important;
            }
            &.full-width {
                .content-area {
                    padding: 0;
                }
            }
        }

        .content-area {
            article {
                .post-title {
                    font-size: 4rem ;
                    a {
                        font-size: 4rem ;
                    }
                }
                .post-excerpt,
                a.continue-reading,
                a.btn,
                a {
                    font-size: 2rem;
                }
                .post-meta {
                    font-size: 1.6rem;
                    a {
                        font-size: 1.6rem;
                    }
                }
            }
            .paging-navigation {
                ul {
                    li {
                        a {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
        &.single-post {
            .content-area {
                article {
                    
                    .post-footer {
                        a, a:link {
                            font-size: 1.6rem;
                        }
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .widget-area {
           
            font-size: 1.8rem;
            margin: 0;
            padding: 0 10rem;
            .widget.widget_block .wp-block-group .wp-block-group__inner-container form.wp-block-search__button-outside .wp-block-search__inside-wrapper input[type="search"] {
                width: 85%;
            }

            .wp-block-latest-comments__comment-excerpt {
                p {
                    font-size: 2rem;
                }
            }
            .widget.widget_recent_comments .comment-author-link a {
                font-size: 1.4rem;
            }

            .widget_text {
                p {
                    font-size: 2rem;
                }
            }
        }
    }

    footer {
        &#site-footer {
            padding: 5rem 0;
            .row {
                padding-bottom: 0;
                padding-top: 0;
            }
    
            .span_6_of_12,
            .span_2_of_12 {
                width: 100%;
            }
            h6 {
                margin-top: 2rem;
            }
            p {
                padding: 0;
                font-size: 2rem;
            }
            ul {
                li {
                    a {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media only screen and  (max-width: 479.99px) {
    html {
        font-size: 54.5%;   
    }
    .row {
        margin: 0 2rem;
    }

    header {
        nav {
            .menu-primary-menu-container {
                padding: 0 5rem 0;
            }
        }
        .sticky-content {
            .logo {
                margin-left: 0;
                margin-top: 5rem;
            }
            
        }
        .sticky {
            .logo {
                margin-top: 2rem;
            }
        }
        .hero-content {
            .row {
                &::after {
                    top: 30rem;
                    background-size: 22rem;
                }
            }
            .hero-text-container {
                width: 40%;
                .hero-sub-title {
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                }
                .hero-sub-title,.hero-desc, a{
                    margin-left: 0;
                    margin-bottom: 2rem;
                }
                .hero-desc {
                    padding: 0;
                }
            }
            .hero-img-container {
                width: 60%;
                margin-top: 10rem;
                margin-bottom: 0;
            }

            &.slider {
                .row {
                    &::after{
                        top: 38rem;
                        z-index: 0;
                    }
                }
                .header-slider {
                    .slider-content {
                        .hero-text-container {
                            margin-top: 15rem;
                        }
                        .hero-img-container {
                            margin-top: 25rem;
                        }
                        .owl-dots {
                            display: block;
                            z-index: 99999;
                        }
                    }
                }
            }
        }
    
        .header-search {
            padding: 0 12rem;
            form#searchform input[type="search"] {
                font-size: 1.6rem;
            }
            .search-btn {
                right: 14rem;
            }
        }       
    }
    .two-col-text-img {
        .cpt-img {
            width: 30rem;
        }
    }
    .main {
        .col {
            p, a, ul, ol, table, cite, span, dl {
                font-size: 1.8rem ;
            }
        }

        .content-area {
            article {
                .post-title {
                    font-size: 3rem;
                }
            }
            .comments-area,
            .post-navigation {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
        .widget-area {
            width: 100%;
            padding: 0;
           
            .widget.widget_block .wp-block-group .wp-block-group__inner-container form.wp-block-search__button-outside .wp-block-search__inside-wrapper input[type="search"] {
                width: 78%;
            }

            .widget.widget_block .wp-block-group .wp-block-group__inner-container form.wp-block-search__icon-button .wp-block-search__inside-wrapper button[type="submit"] {
                right: 2rem;
            }
            .widget.widget_search form.searchform input[type="search"] {
                width: 90%;
            }
        }
    }

    footer {
        &#site-footer {
            .row {
                background-size: cover;
            }
            .widget {
                &.overlay {
                    padding-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 374.99px){
    html {
        font-size: 40.5%;
    }
    header {
        .main-navigation {
            &.toggled {
                ul {
                    font-size: 2rem;
                }
            }
        }
        .header-search {
            form#searchform input[type="search"] {
                font-size: 2rem;
                height: 4rem;
                padding: 0rem 5rem 0 1.5rem;
            }
            form#searchform button[type="submit"] svg {
                width: 4rem;
                height: 4rem;
            }
        }

       .hero-content {
            .hero-text-container {
                a {
                    padding: 0.5rem;
                    font-size: 1.5rem;
                }
            }
            &.slider {
                .row {
                    &::after{
                       top: 40rem;
                    }
                }
                .header-slider {
                    .slider-content {
                        .hero-text-container {
                            margin-top: 15rem;
                        }
                    }
                }
            }
        }
    }
    .section,
    .section-featured-item,
    .two-col-text,
    .two-col-text-img {
        .item-title,h4 {
            font-size: 2.5rem;
        }
        p {
            font-size: 2rem !important;
        }
    }
    .main {
        .content-area {
            article {
                .post-title {
                    font-size: 4rem !important;
                    a {
                        font-size: 4rem !important;
                    }
                }
                .post-excerpt,
                p,
                a.continue-reading,
                a.btn,
                a {
                    font-size: 2.5rem !important;
                }
                .post-meta {
                    a {
                        font-size: 2rem !important;
                    }
                }
                .post-content {
                    pre {
                        font-size: 2rem !important;
                    }
                }
                .post-footer {
                    a {
                        font-size: 2rem !important;
                    }
                }
            }
            .paging-navigation {
                ul {
                    li {
                        a {
                            font-size: 2rem !important;
                        }
                    }
                }
            }
            .comments-area {
                h3,
                .reply-title {
                    font-size: 4rem !important;
                }

                p, a, a:link, ul, ol, cite, dl, span, label, input[type="submit"] {
                    font-size: 2.2rem !important;
                }
                .nav-links {
                    flex-direction: column;
                }
                
            }
            .post-navigation {
                .nav-links {
                    flex-direction: column;
                    .nav-previous, .nav-next{
                        width: 100%;
                        text-align: center;
                        margin: 2rem 0;
                    }
                }
                a, a:link, span {
                    font-size: 2rem !important;
                }
            }
        }

        .widget-area {
            font-size: 2.5rem !important;
            p, a, a:link, ul, ol, cite, dl, span, label, input[type="submit"] {
                font-size: 2.2rem !important;
            }
            

            h2,.widget-title {
                font-size: 3rem !important;
            }
          
            .wp-block-latest-comments__comment-excerpt {
                p {
                    font-size: 2.5rem !important
                }
            }
    
            .widget.widget_block .wp-block-group .wp-block-group__inner-container .wp-block-tag-cloud .tag-cloud-link,
            .widget.widget_block .wp-block-group .wp-block-group__inner-container .wp-block-latest-posts li .wp-block-latest-posts__post-author,
            .widget.widget_block .wp-block-group .wp-block-group__inner-container .wp-block-latest-posts li .wp-block-latest-posts__post-date,
            .widget.widget_block .wp-block-group .wp-block-group__inner-container .wp-block-rss li .wp-block-rss__item-publish-date, .content-area .widget-area .widget.widget_block .wp-block-group .wp-block-group__inner-container .wp-block-rss li .wp-block-rss__item-author,
            .widget.widget_block .wp-block-group .wp-block-group__inner-container .wp-block-rss li .wp-block-rss__item-author,
            .widget.widget_block .wp-block-group .wp-block-group__inner-container .wp-block-latest-comments li article footer time.wp-block-latest-comments__comment-date,
            .widget.widget_rss ul li .rss-date,
            .widget.widget_recent_comments .comment-author-link a {
                font-size: 1.8rem !important
            }
            
            .widget_text {
                p {
                    font-size: 2.5rem !important
                }
            }
            form {
                label {
                    font-size: 2.5rem;
                }
            }
            select,
            input[type="text"],
            input[type="password"],
            input[type="search"] {
                height: 4rem !important;
            }

            input[type="text"],
            input[type="password"],
            input[type="search"] {
                font-size: 2rem !important;
                &::placeholder {
                    font-size: 2rem !important;
                }
            }

            .widget.widget_block .wp-block-group .wp-block-group__inner-container .wp-block-loginout.has-login-form form p input[type="submit"],
            .widget.widget_block .wp-block-group .wp-block-group__inner-container .wp-block-loginout a {
                font-size: 2rem;
            }

            .widget.widget_block .wp-block-group .wp-block-group__inner-container form.wp-block-search__button-outside .wp-block-search__inside-wrapper input[type="search"] {
                width: 76% !important;
            }
    
            .widget.widget_block .wp-block-group .wp-block-group__inner-container form.wp-block-search__icon-button .wp-block-search__inside-wrapper button[type="submit"] {
                width: 4rem !important;
                height: 4rem !important;
    
            }
    
            .widget.widget_block .wp-block-group .wp-block-group__inner-container form.wp-block-search__icon-button .wp-block-search__inside-wrapper button[type="submit"] svg,
            .widget.widget_block .wp-block-group .wp-block-group__inner-container form.wp-block-search__button-inside.wp-block-search__icon-button button[type="submit"] svg,
            .widget.widget_search form.searchform button[type="submit"],
            .widget.widget_search form.searchform button[type="submit"] svg{
                width: 4rem !important;
                height: 4rem !important;
            }
    
            .widget.widget_block .wp-block-group .wp-block-group__inner-container form.wp-block-search__button-inside .wp-block-search__inside-wrapper button[type="submit"] {
               line-height: 3rem !important;
            }
        }
    }
    


    footer {
        &#site-footer {
            p {
                font-size: 2.5rem !important;
            }

            ul {
                li {
                    a {
                        font-size: 2.5rem !important;
                    }
                }
            }
        }
    }
}